.container {
    width: 60%;
    margin: auto;
    margin-top: 75px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.header {
    text-align: center;
    font-size: 32px; /* Increased font size */
    font-weight: bold;
    margin-bottom: 20px; /* Increased margin */
}

.sub-header {
    text-align: center;
    font-size: 18px; /* Increased font size */
    margin-bottom: 30px; /* Increased margin */
}

.tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; /* Increased margin */
}

.tab {
    margin: 0 15px; /* Increased margin */
    padding: 15px; /* Increased padding */
    font-size: 18px; /* Increased font size */
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.tab.active {
    border-bottom: 2px solid #00cc00;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 30px; /* Increased margin */
}

.input-container {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #113E21, #252525); /* Gradient background */
    border-radius: 5px;
    padding: 15px; /* Increased padding */
    margin-top: 10px; /* Increased margin */
    border: 1px solid transparent;
}

.input-container img {
    margin-right: 15px; /* Increased margin */
    width: 25px; /* Increased size */
    height: 25px; /* Increased size */
    filter: invert(1); /* Invert the color to white */
}

.input {
    width: 100%;
    border: none;
    background: linear-gradient(90deg, #113E21, #252525); /* Gradient background */
    padding: 15px; /* Increased padding */
    color: #fff;
    border-radius: 5px;
    outline: none;
    font-size: 16px; /* Increased font size */
}

.input:focus {
    background: linear-gradient(90deg, #113E21, #252525); /* Gradient background */
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.next-button {
    background: linear-gradient(90deg, #1DE331, #113E21); /* Gradient background */
    color: white;
    border: none;
    padding: 20px 40px; /* Increased padding */
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px; /* Increased font size */
    margin-top: 30px; /* Increased margin */
    align-self: center;
    transition: background 0.3s ease;
}

.next-button:hover {
    background: #113E21; /* Reverse gradient on hover */
}
